.page {
  max-width: 1300px;
  justify-content: center;
  margin: auto;
  padding: 0px 20px;
  font-family: 'Inter', 'Arial', sans-serif;
  text-rendering: optimizeLegibility;
}

@media (max-width: 1024px) {
  .page {
    max-width: 970px;
    padding: 0px 20px;
  }
}

@media (max-width: 720px) {
  .page {
    max-width: 640px;
    padding: 0px 20px;
  }
}