.footer {
  max-width: 1530px;
  min-height: 50px;
  justify-content: center;
  /*display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;*/
  padding-top: 28px;
  /*margin: auto;*/
  margin-top: 50px;
}