.elements__list {
  display: grid;
  grid-gap: 1rem;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

@media (min-width: 1024px) {
  .elements__list {
    grid-template-columns: repeat(5, minmax(180px, 1fr));
  }
}

@media (max-width: 1024px) {
  .elements__list {
    grid-template-columns: repeat(4, minmax(180px, 1fr));
  }
}

@media (max-width: 768px) {
  .elements__list {
    grid-template-columns: repeat(3, minmax(180px, 1fr));
  }
}

@media (max-width: 480px) {
  .elements__list {
    grid-template-columns: repeat(2, minmax(180px, 1fr));
  }
}

@media (max-width: 430px) {
  .elements__list {
    display: flex;
    flex-direction: column;
  }
}